 # Virtual environment
venv/
env/
new_venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# VSCode settings
.vscode/

# Ignore specific directories (if any)
your-directory-name/
